/* Genral styling */
*, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/* Genral styling */


/* section styling */
#main-body {
    padding-top: 2%;
    padding-bottom: 2%;
}

/* Navbar styling */
header {
    background: #612B2B;
}

nav {
    width: 100%;
}

.navbar-brand span {
    display: block;
    margin: 0;
    padding: 0;
}

.navbar-brand img {
    width: 70%;
    margin: 0;
    padding: 0;
}

.nav-link {
    margin-right: 25px;
    color: #ffffff;
}

header .btn {
    background: #ABC034;
    border-color: #ABC034;
    color: #ffffff;
}

header .btn:hover {
    background: #ABC034;
    border-color: #ABC034;
    color: #ffffff;
}
/* Navbar */

/* jumbotron */
.jumbotron {
    height: 100vh;
    position: relative;
}

.jumbotron-container {
    position: absolute;
    top: 25%;
    left: 7%;
    background: rgba(97, 43, 43, 0.76);
    width: 30%;
    color: #ffffff;
    font-weight: normal;
}

.jumbotron-btn button,
 #main-body .search-btn button{
    position: absolute;
    bottom: 0;
    left: 7%;
    background: #ABC034;
    color: #ffffff;
    font-weight: normal;
}

.jumbotron-btn button:hover{
    background: #ABC034;
    color: #ffffff;
    font-weight: normal;
}

#main-body button {
    width: 100%;
    background: #C4C4C4;
    border-radius: none;
}

#main-body .search-btn button {
    width: 90%;
}

/* Jumbotron */

/* price range */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ABC034;
    cursor: pointer;
  }
/* price range */

/* main body */
#main-b0dy .btn {
    background: #C4C4C4;
}

/* explore-section styling */
#explore-section {
    background: #582E29;
}

.explore-title {
    color: #ffffff;
}

.explore-title hr {
    border: 2px solid #ABC034; 
    width: 30%;
}

.explore-section .row {
    height: 40vh;
}

.card {
    position: relative;
}

.card-body {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    padding: 30px 0 25px 25px;
}

.card-body h4 {
    font-weight: bold;
}

/* information style */
#information {
    width: 100%;
    height: 80vh;
    background: url("../images/info-banner.png") center/cover no-repeat;
    position: relative;
    color: #ffffff;
}

.info-overlay {
    width: 100%;
    height: 100%;
    background: rgba(57, 66, 147, 0.69);
    position: absolute;
}

.info-content h2 {
    font-size: 3rem;
    font-weight: 700;
}

.info-content button {
    background: #ABC034;
}

.info-content button:hover {
    background: #ABC034;
}

.info-content {
    margin-top: 100px;
}

/* information style */


/* footer */
footer {
    background: #582E29;
    color: #fff;
    padding:  5% 20px 15px 20px;
}

.footer-link li {
    list-style-type: none;
    font-size: 1rem;
}

.footer-link li a {
    color: #ffffff;
}

.fas {
    color: #ABC034;
}

.newsletter button {
    background: #ABC034;
    border-radius: none;
    width: 100%;
}

.newsletter button:hover {
    background: #ABC034;
    border-radius: none;
}

.copyright {
    font-size: 15px;
    font-weight: normal;
}
/* footer */


/* Media Queries */
@media only screen and (max-width: 750px) {
    .footer-info h4,
    .footer-info p {
        font-size: .5rem;
    }

    .footer-into h4 {
        font-size: 1rem;
    }

    .footer-link li a {
        font-size: .8em;
    }

    .get-in-touch div{
        font-size: .9em;
    }

    .get-in-touch h4 {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 850px) {
    .jumbotron {
        height: 50vh;
    }

    .jumbotron-container {
        top: 10%;
        left: 7%;
        padding: 10px auto;
        width: 50%;
    }

    .jumbotron-container p {
        font-size: .7rem;
    }

    .jumbotron-btn button{
        width: 40%;
        font-size: .7em;
        padding: 10px;
    }

    .explore-title h2 {
        font-size: 1rem;
    }

    #dropdownMenuButton {
        font-size: .7em;
        width: 50%;
    }

    #information {
        height: 50vh;
    }

    .info-content h2 {
        font-size: 1.8rem;
    }
}